body {
    margin: 0;
    background-color: #afc5d8;
}

header, footer {
  background-color: #90e0ef;
  text-align: center;
  /* min-width: 500px; */
}

header {
    font-family: 'Inter', sans-serif;
    color: #fff;
    /* padding: 100px; */
    min-height: 100vh;
    display: flex;
    background-image: url('https://media.istockphoto.com/photos/round-podium-or-pedestal-with-blue-background-picture-id1226478932?b=1&k=20&m=1226478932&s=170667a&w=0&h=hXsvxQilNanpKx7QC_tIsFUOKPl8fdIDfJ_QSKXesGE=');
    background-size: cover;
    background-position: center center;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  /* grid-template-rows: repeat(3, 1fr); */
  grid-gap: 20px;
  margin: 44px 40px;
  /* grid-auto-rows: 1fr; */
  justify-items: center;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  background-color: #afc5d8;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 80px;
    padding-bottom: .67em;
    border-bottom: 1px solid;
    line-height: 1.3;
}

h2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
  color: #345b8b;
  padding: 10px 0px 10px 10px;
}

.project {
  box-shadow: 0 0px 1px 0 rgb(0 0 0 / 40%);  
  width: 100%;
}


img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.time {
  padding-left: 10px;
  padding-top: 10px;
  width: 20px;
  height: auto;
}

.mins {
  display: inline-block;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: left;
  color: #4a4a4a;
  position: relative;
  bottom: 5px;
}

.wrapper {
    max-width: 1150px;
    margin: auto;
    padding: 50px;
    display: block;
}

.description {
  /* font-family: 'DM Sans', sans-serif; */
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.1px;
  text-align: left;
  color: #406c9c;
  padding: 0 20px 20px 20px;
  /* border-top: 1px solid #4a4a4a; */
}


.container {
  min-width: 500px;
  margin: auto;
}

footer div {
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  display: flex;
  align-content: center;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #94abc4;
  justify-content: space between;
}

.copyright {
  margin: auto 0;
}

.icons {
  list-style-type: none;
  display: inline-flex;
}

.icons a {
  margin: 0 8px;
  color: rgb(255, 255, 255, 0.5);
}

.icons a:hover {
  color: rgb(255, 255, 255, 0.8);
}

.bio {
    color: #ffffff;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}

@media all and (max-width:700px) {
  main {
    grid-template-columns: 1fr;
    margin: 44px auto;
  }
  .description {
    font-size: 18px;
  }
  img {
    height: 25vh;
  }
}
